.App {
  background-image: url(./game/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px 0 20px;
}

.gameTitle {
  font-family: 'Rubik Mono One', monospace;
  font-size: 48px;
  padding: 10px 0 30px;
  text-shadow: 2px 10px #000;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  color: #eaf110;

}

.container-box {
  width: 80%;
  height: 100vh;
  margin: 15px auto 0;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

h1 {
  color: #ecf0f1;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

.box-model {
  width: 320px !important;
  border-radius: 20px;
  background: rgb(57, 23, 117);
  background: linear-gradient(180deg, rgba(57, 23, 117, 1) 0%, rgba(11, 13, 33, 1) 100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border: 2px solid rgba(185, 87, 222, 80%);
}

.square {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  margin-top: 20px;
}

.btn {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 15px;
  font-size: 70px;
  color: #ecf0f1;
  background-color: rgba(129, 51, 219, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 30%) inset;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Kalam', cursive;
}

.btn.playerO {
  background: rgb(255, 173, 43);
  background: linear-gradient(180deg, rgba(255, 173, 43, 1) 0%, rgba(244, 0, 0, 1) 100%);
  box-shadow: 0 0 20px #fff inset;
}

.btn:hover {
  background-color: rgba(129, 51, 219, 0.8);
}

.btn:disabled {
  cursor: not-allowed;
}

.btn.playerX {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 30%), rgba(45, 253, 204, 1) 100%);
  box-shadow: 0 0 20px #fff inset;

}

.game-over-message {
  margin-top: 20px;
  color: #ecf0f1;
  font-size: 13px;
  font-family: 'Rubik Mono One', monospace;
}

.playerTurns {
  font-family: 'Rubik Mono One', monospace;
  margin: 30px 0 0 0;
}

.restartGame {
  background-image: linear-gradient(to bottom, #9700ff, #7e03e5, #6703cb, #5002b1, #3b0097);
  border: none;
  padding: 10px 18px;
  border: 4px solid rgba(255, 255, 255, 20%);
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  color: #ecf0f1;
  font-size: 28px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-family: 'Rubik Mono One', monospace;

}

.restartGame:hover {
  background-image: linear-gradient(to bottom, #8100da, #6c02c3, #5802ad, #450197, #330081);
  border: 4px solid rgba(255, 255, 255, 10%);
}

.restartGame:active {
  background-image: linear-gradient(to top, #9700ff, #7e03e5, #6703cb, #5002b1, #3b0097);
  padding: 12px 18px 8px;
}

@media (max-width: 500px) {

  .container-box {
    width: 100%;
    border-radius: 0;
  }

  .title {
    width: 90%;
  }

  .box-model {
    width: 290px !important;
  }

  .square {
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-gap: 10px;
    margin: 20px 0;
  }

  .btn {
    width: 90px;
    height: 90px;
  }
}


@media (min-width: 500px) {

  .container-box {
    width: 100%;
    border-radius: 0;
  }

  .box-model {
    width: 100%;
  }

  .square {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    margin-top: 20px;
  }

  .btn {
    width: 100px;
    height: 100px;
  }
}