    .container-box {
    width: 80%;
    max-width: 600px;
    height: 600px;
    margin: 5% auto;
    border-radius: 20px;
    background: #2c3e50; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
  }
  
  h1 {
    color: #ecf0f1; 
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
  }
  
  .box-model {
    /* width: 90%; */
    width: 320px !important;
    height: 400px;
    border-radius: 20px;
    background: #34495e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    text-align: center;
    padding: 20px;
  }
  
  .square {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 15px;
    font-size: 40px;
    color: #ecf0f1;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn.playerO {
    background-color: #e74c3c; 
  }
  
  .btn:hover {
    background-color: #2980b9; 
  }
  
  .btn:disabled {
    cursor: not-allowed;
  }
  
  .btn.playerX {
    background-color: #2ecc71;
  }
  
  .game-over-message {
    margin-top: 20px;
    color: #ecf0f1;
    font-size: 24px;
  }
  
  .restartGame {
    background: #e67e22; 
    border: none;
    padding: 10px;
    margin: 20px 0;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    color: #ecf0f1;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .restartGame:hover {
    background-color: #d35400; 
  }

  /*  here   */
  @media (min-width: 360px) {
    .box-model {
      width: 200px;
    }
    .square {
      display: grid;
      grid-template-columns: 80px 80px 80px;
      grid-gap: 10px;
      margin-top: 20px;
    }
    .btn{
      width: 80px;
      height: 80px;
    }
  }


  /*   */
  @media (min-width: 768px) {
    .box-model {
      width: 200px;
    }
    .square {
      display: grid;
      grid-template-columns: 60px 60px 60px;
      grid-gap: 10px;
      margin-top: 20px;
    }
  }
  

  @media (min-width: 1024px) {
    .box-model {
      width: 60%;
    }
    .square {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 10px;
      margin-top: 20px;
    }
  }
  